/* Span Elements */
.tasksCalendar span {
	display: contents;
}
/* Button Head */
.tasksCalendar .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	overflow: hidden;
	cursor: default;
	padding: 5px 10px;
	margin: 0 1px;
	width: 100%;
}
.tasksCalendar button {
	padding: 2px 5px;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	height: 22px;
}
.tasksCalendar button:nth-child(1),
.tasksCalendar button:nth-child(3) {
	flex-basis: 20%;
}
.tasksCalendar button:nth-child(2) {
	flex-basis: 60%;
}
.tasksCalendar button:focus,
.tasksCalendar button:active {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}


/* Main Calendar Grid */
.tasksCalendar .grid {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	cursor: default;
}
.tasksCalendar .cell {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	border-bottom: 1px solid rgba(125,125,125,0.25);
	background-color: var(--background-primary);
}
.tasksCalendar .cellContent {
	display: inline-block;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	flex-shrink: 1;
	flex-grow: 1;
}
.tasksCalendar .cellContent::-webkit-scrollbar {
	display: none;
}
.tasksCalendar .gridHead {
	display: inline;
	box-sizing: border-box;
	border-top: 1px solid rgba(125,125,125,0.25);
	border-bottom: 1px solid rgba(125,125,125,0.25);
	overflow: hidden;
	min-width: calc(100% / 7);
	max-width: calc(100% / 7);
	height: auto;
	text-align: center;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
.tasksCalendar .cellName {
	display: inline-block;
	font-weight: normal;
	padding: 0 2px;
	color: var(--text-normal);
	flex-shrink: 0;
	flex-grow: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	margin: 0;
}
.tasksCalendar .cellName strong {
	font-weight: normal;
	color: var(--text-normal);
	opacity: 0.5;
	font-size: 8px;
	margin-right: 5px;
}
.tasksCalendar .task {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin: 1px 1px 2px 1px;
	padding: 0 2px;
	text-decoration: none;
	color: var(--text-normal);
	word-break: break-all;
	line-height: 1.5;
	background: rgba(125,125,125,0.25);
	text-decoration: none !important;
}
.tasksCalendar a {
	text-decoration: none !important;
}


/* Today & Weekends */
.tasksCalendar .cell.today .cellName {
	font-weight: bold;
}
.tasksCalendar .cell.today {
	background-color: #0a84ff26;
	box-shadow: inset 0 0 0 1px #0a84ff80;
}
.tasksCalendar .cell[data-weekday="0"] .cellName,
.tasksCalendar .gridHead[data-weekday="0"] {
	color: #ff443a;
}
.tasksCalendar .cell[data-weekday="6"] .cellName,
.tasksCalendar .gridHead[data-weekday="6"] {
	color: #0a84ff;
}


/* Week view */
.tasksCalendar .grid[data-view='week'] {
	border-top: 1px solid rgba(125,125,125,0.25);
}
.tasksCalendar .grid[data-view='week'] .gridHead,
.tasksCalendar .grid[data-view='week'] .cellName,
.tasksCalendar .grid[data-view='week'] .task {
	font-size: 10px;
}
.tasksCalendar .grid[data-view='week'].largeText .gridHead,
.tasksCalendar .grid[data-view='week'].largeText .cellName,
.tasksCalendar .grid[data-view='week'].largeText .task {
	font-size: 14px;
}
.tasksCalendar .grid[data-view='week'] .cell {
	min-width: 50%;
	max-width: 50%;
	height: 60px;
	margin: 0;
}
.tasksCalendar .grid[data-view='week'].fullHeight .cell {
	height: 19.2vH;
}
.tasksCalendar .grid[data-view='week'] .cell[data-weekday="7"] {
	background: var(--background-primary-alt);
	border-left: 1px solid rgba(125,125,125,0.25);
}
/* Horizontal order */
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='1'] { /* Monday */
	order: 1;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='2'] { /* Tuesday */
	order: 2;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='3'] { /* Wednesday */
	order: 3;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='4'] { /* Thursday */
	order: 4;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='5'] { /* Friday */
	order: 5;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='6'] { /* Saturday */
	order: 6;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='0'] { /* Sunday */
	order: 7;
}
.tasksCalendar .grid[data-view='week'].horizontal .cell[data-weekday='7'] { /* Backlog */
	order: 8;
}
/* Vertical order */
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='1'] { /* Monday */
	order: 1;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='2'] { /* Tuesday */
	order: 3;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='3'] { /* Wednesday */
	order: 5;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='4'] { /* Thursday */
	order: 7;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='5'] { /* Friday */
	order: 2;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='6'] { /* Saturday */
	order: 4;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='0'] { /* Sunday */
	order: 6;
}
.tasksCalendar .grid[data-view='week'].vertical .cell[data-weekday='7'] { /* Backlog */
	order: 8;
}


/* Month View */
.tasksCalendar .grid[data-view='month'] .cellName,
.tasksCalendar .grid[data-view='month'] .task,
.tasksCalendar .grid[data-view='month'] .gridHead {
	font-size: 10px;
}
.tasksCalendar .grid[data-view='month'] .prevMonth,
.tasksCalendar .grid[data-view='month'] .nextMonth {
	background: var(--background-primary-alt);
}
.tasksCalendar .grid[data-view='month'] .newMonth {
	border-left: 1px solid rgba(125,125,125,0.25);
}
.tasksCalendar .grid[data-view='month'] .cell {
	min-width: calc(100% / 7);
	max-width: calc(100% / 7);
	margin: 0;
	height: 60px;
}
.tasksCalendar .grid[data-view='month'].fullHeight .cell {
	height: 12.5vH !important;
}
body:not(.is-mobile) .tasksCalendar .grid[data-view='month'].largeText .gridHead,
body:not(.is-mobile) .tasksCalendar .grid[data-view='month'].largeText .cellName,
body:not(.is-mobile) .tasksCalendar .grid[data-view='month'].largeText .task {
	font-size: 14px;
}
body:not(.is-mobile) .tasksCalendar .grid[data-view='month'].largeText .cellName strong {
	font-size: 12px;
}


/* Widget view */
.tasksCalendar .grid[data-view='widget'] .cell {
	width: calc(100% / 7);
	height: 100px;
	border-top: 1px solid rgba(125,125,125,0.25);
}
.tasksCalendar .grid[data-view='widget'] .gridHead,
.tasksCalendar .grid[data-view='widget'] .cellName,
.tasksCalendar .grid[data-view='widget'] .task {
	font-size: 10px;
}
body:not(.is-mobile) .tasksCalendar .grid[data-view='widget'].largeText .gridHead,
body:not(.is-mobile) .tasksCalendar .grid[data-view='widget'].largeText .cellName,
body:not(.is-mobile) .tasksCalendar .grid[data-view='widget'].largeText .task {
	font-size: 14px;
}
.tasksCalendar .grid[data-view='widget'].fullHeight .cell {
	height: 77vH !important;
}
.tasksCalendar .grid[data-view='widget'] .cellName {
	text-align: center;
	font-weight: normal;
}


/* noProcess class */
.tasksCalendar .grid.noProcess .process {
	display: none !important;
}


/* noIcons class */
.tasksCalendar .grid.noIcons .task {
	border-left: 2px solid currentColor;
}
.tasksCalendar .grid.noIcons .task:before {
	display: none !important;
}


/* noWeekNr class */
.tasksCalendar .grid.noWeekNr .cellName strong {
	display: none !important;
}


/* Done tasks */
.tasksCalendar .grid.noIcons .task.done {
	text-decoration: line-through !important;
	color: var(--text-faint) !important;
}


/* Task Icons */
.tasksCalendar .task:before {
	margin-right: 3px;
}
.tasksCalendar .task.overdue:before {
	content: "⚠";
}
.tasksCalendar .task.start:before {
	content: "🛫";
}
.tasksCalendar .task.due:before {
	content: "📅";
}
.tasksCalendar .task.process:before {
	content: "⏺️";
}
.tasksCalendar .task.scheduled:before {
	content: "⏳";
}
.tasksCalendar .task.done:before {
	content: "✅";
}
.tasksCalendar .task.recurrence:before {
	content: "🔁";
}
.tasksCalendar .task.cancelled:before {
	content: "🚫";
}
.tasksCalendar .task.backlog:before {
	content: "📌";
}
.tasksCalendar .task.cancelled {
	text-decoration: line-through;
}
