/* Span Elements */
.tasksCalendar span {
	display: contents;
}
/* Button Head */
.tasksCalendar .buttons {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 70px 1fr 70px 35px;
	overflow: hidden;
	cursor: default;
	padding: 5px 0px;
	width: 100%;
	gap: 5px;
}
.switch button.active {
	background: rgba(125,125,125,0.75);
	color: white;
}
.switch button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.switch button:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tasksCalendar button {
	padding: 2px 5px;
	background: none;
	box-shadow: none;
	border: none !important;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	height: 22px;
	background: rgba(125,125,125,0.25);
}
.tasksCalendar .switch button {
	width: 35px;
}
.tasksCalendar.noDone .filter {
	background: #ff375f !important;
}
.tasksCalendar.noDone .filter svg {
	fill: white;
	stroke: none;
}
.tasksCalendar button:focus,
.tasksCalendar button:active {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
/* Main Calendar Grid */
.tasksCalendar .grid {
	overflow: hidden;
	cursor: default;
	width: 100%;
}
.tasksCalendar .cell {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	margin: 0;
	border-bottom: 1px solid rgba(125,125,125,0.25);
	background-color: var(--background-primary);
}
.tasksCalendar .cellContent {
	display: inline-block;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	flex-shrink: 1;
	flex-grow: 1;
}
.tasksCalendar .cellContent::-webkit-scrollbar {
	display: none;
}
.tasksCalendar .gridHead {
	display: inline;
	box-sizing: border-box;
	border-right: 1px solid rgba(125,125,125,0.25);
	border-bottom: 1px solid rgba(125,125,125,0.25);
	overflow: hidden;
	height: 22px;
	text-align: center;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	font-size: 14px;
	background: var(--background-primary-alt);
}
.tasksCalendar .cellName {
	display: block;
	font-weight: normal;
	padding: 0 2px;
	color: var(--text-normal);
	flex-shrink: 0;
	flex-grow: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	margin: 0;
	font-size: 14px;
}
.tasksCalendar .task {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	margin: 1px 1px 2px 1px;
	padding: 0 2px;
	text-decoration: none;
	color: var(--text-normal);
	word-break: break-all;
	line-height: 1.5;
	background: rgba(125,125,125,0.25);
	text-decoration: none !important;
	font-size: 14px;
}
.tasksCalendar a {
	text-decoration: none !important;
}


/* Today & Weekends */
.tasksCalendar .cell.today .cellName {
	font-weight: bold;
}
.tasksCalendar .cell.today {
	background-color: #0a84ff26;
	box-shadow: inset 0 0 0 1px #0a84ff80;
	border-radius: 5px;
}
.tasksCalendar .cell[data-weekday="0"] .cellName,
.tasksCalendar .gridHead[data-weekday="0"] {
	color: #ff443a;
}
.tasksCalendar .cell[data-weekday="6"] .cellName,
.tasksCalendar .gridHead[data-weekday="6"] {
	color: #0a84ff;
}


/* Month View */
.tasksCalendar .grid[data-view='month'] {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
}
.tasksCalendar .grid[data-view='month'] .gridHeads,
.tasksCalendar .grid[data-view='month'] .wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 22px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
}
.tasksCalendar .grid[data-view='month'] .wrapper .wrapperButton {
	display: flex;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	background: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	color: var(--text-normal);
	border-left: 1px solid rgba(125,125,125,0.25);
	border-top: 1px solid rgba(125,125,125,0.25);
	cursor: pointer;
	background: var(--background-primary-alt);
	width: 22px;
	overflow: hidden;
}
body:not(.is-mobile) .tasksCalendar .grid[data-view='month'] .wrapper:hover .cell {
	/* background: #0a84ff26; */
}
.tasksCalendar .grid[data-view='month'] .cell {
	height: 12.5vH;
	margin: 0;
}
.tasksCalendar .grid[data-view='month'] .prevMonth,
.tasksCalendar .grid[data-view='month'] .nextMonth {
	background: var(--background-primary-alt);
}
.tasksCalendar .grid[data-view='month'] .newMonth {
	border-left: 1px solid rgba(125,125,125,0.25);
	/* box-shadow: inset 20px 1px 20px -20px rgba(125,125,125,0.25); */
}


/* Week view */
.tasksCalendar .grid[data-view='week'] {
	display: grid;
	border-top: 1px solid rgba(125,125,125,0.25);
}
.tasksCalendar .grid[data-view='week'] .newMonth {
	/* box-shadow: inset 1px 20px 20px -20px rgba(125,125,125,0.25); */
}
.tasksCalendar.horizontal .grid[data-view='week'] .newMonth {
	border-left: 1px solid rgba(125,125,125,0.25);
	/* box-shadow: inset 20px 1px 20px -20px rgba(125,125,125,0.25); */
}

/* Default Vertical Agenda Style */
.tasksCalendar.style1 .grid[data-view='week'] {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(1)  { grid-area: 1 / 1 / 3 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(2)  { grid-area: 3 / 1 / 5 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(3)  { grid-area: 5 / 1 / 7 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(4)  { grid-area: 1 / 3 / 3 / 5; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(5)  { grid-area: 3 / 3 / 5 / 5; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(6)  { grid-area: 5 / 3 / 6 / 5; height: 12.8vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(7)  { grid-area: 6 / 3 / 7 / 5; height: 12.8vH; }


/* Horizontal Agenda Style */
.tasksCalendar.style2 .grid[data-view='week'] {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(1)  { grid-area: 1 / 1 / 3 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(3)  { grid-area: 3 / 1 / 5 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(5)  { grid-area: 5 / 1 / 7 / 3; height: 25.6vH; border-right: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(2)  { grid-area: 1 / 3 / 3 / 5; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(4)  { grid-area: 3 / 3 / 5 / 5; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(6)  { grid-area: 5 / 3 / 6 / 5; height: 12.8vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(7)  { grid-area: 6 / 3 / 7 / 5; height: 12.8vH; }

/* List Style */
.tasksCalendar.style3 .grid[data-view='week'] {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
}
.tasksCalendar.style3 .grid[data-view='week'] .cell {
	height: 11vH;
}

/* Widget Style */
.tasksCalendar.style4 .grid[data-view='week'] {
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tasksCalendar.style4 .grid[data-view='week'] .cell {
	height: 11vH;
}

/* 5x2 Style */
.tasksCalendar.style5 .grid[data-view='week'] {
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(1) { grid-area: 1 / 1 / 3 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(2) { grid-area: 3 / 1 / 5 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(3) { grid-area: 5 / 1 / 7 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(4) { grid-area: 7 / 1 / 9 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(5) { grid-area: 9 / 1 / 11 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(6) { grid-area: 1 / 2 / 6 / 3; height: 38.25vH; border-left: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(7) { grid-area: 6 / 2 / 11 / 3; height: 38.25vH; border-left: 1px solid rgba(125,125,125,0.25); }

/* 5x2 (smaller weekends) Style */
.tasksCalendar.style6 .grid[data-view='week'] {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(1) { grid-area: 1 / 1 / 3 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(2) { grid-area: 3 / 1 / 5 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(3) { grid-area: 5 / 1 / 7 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(4) { grid-area: 7 / 1 / 9 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(5) { grid-area: 9 / 1 / 11 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(6) { grid-area: 1 / 3 / 6 / 4; height: 38.25vH; border-left: 1px solid rgba(125,125,125,0.25); }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(7) { grid-area: 6 / 3 / 11 / 4; height: 38.25vH; border-left: 1px solid rgba(125,125,125,0.25); }


/* noIcons class */
.tasksCalendar.noIcons .grid .task {
	border-left: 2px solid currentColor;
}
.tasksCalendar.noIcons .grid .task:before {
	display: none !important;
}
/* Done tasks */
.tasksCalendar.noIcons .grid .task.done {
	text-decoration: line-through !important;
	color: var(--text-faint) !important;
}
/* noDone class */
.tasksCalendar.noDone .grid .task.done {
	display: none !important;
}
/* noScheduled class */
.tasksCalendar.noScheduled .grid .task.scheduled {
	display: none !important;
}
/* noStart class */
.tasksCalendar.noStart .grid .task.start {
	display: none !important;
}
/* noDue class */
.tasksCalendar.noDue .grid .task.due {
	display: none !important;
}
/* noProcess class */
.tasksCalendar.noProcess .grid .task.process {
	display: none !important;
}
/* noRecurrence class */
.tasksCalendar.noRecurrence .grid .task.recurrence {
	display: none !important;
}
/* noOverdue class */
.tasksCalendar.noOverdue .grid .task.overdue {
	display: none !important;
}
/* noDailyNote class */
.tasksCalendar.noDailyNote .grid .task.dailyNote {
	display: none !important;
}
.tasksCalendar.noDailyNote .grid .cellName {
	pointer-events: none !important;
}


/* Mini class */
.tasksCalendar.mini {
	max-width: 400px;
	margin: 0 auto;
}
.tasksCalendar.mini .grid .gridHead,
.tasksCalendar.mini .grid .cellName,
.tasksCalendar.mini .grid .task {
	font-size: 10px !important;
}
.tasksCalendar.mini .grid[data-view='month'] .cell {
	height: 60px !important;
}
.tasksCalendar.mini .grid[data-view='widget'] .cell {
	height: 80px !important;
}
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(1),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(2),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(3),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(4),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(5),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(8) {
	height: 150px !important;
}
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(6),
.tasksCalendar.mini .grid[data-view='week'] .cell:nth-child(7) {
	height: 75px !important;
}


/* Mobile */
body.is-mobile .tasksCalendar .grid:not([data-view='week']) .gridHead,
body.is-mobile .tasksCalendar .grid:not([data-view='week']) .cellName,
body.is-mobile .tasksCalendar .grid:not([data-view='week']) .task {
	font-size: 10px !important;
}
body.is-mobile .tasksCalendar .grid:not([data-view='week']) .cellName strong {
	font-size: 8px !important;
}


/* Task Icons */
.tasksCalendar .task:before {
	margin-right: 3px;
}
.tasksCalendar .task.overdue:before {
	content: "⚠️";
}
.tasksCalendar .task.start:before {
	content: "🛫";
}
.tasksCalendar .task.due:before {
	content: "📅";
}
.tasksCalendar .task.process:before {
	content: "⏺️";
}
.tasksCalendar .task.scheduled:before {
	content: "⏳";
}
.tasksCalendar .task.done:before {
	content: "✅";
}
.tasksCalendar .task.recurrence:before {
	content: "🔁";
}
.tasksCalendar .task.cancelled:before {
	content: "🚫";
}
.tasksCalendar .task.cancelled {
	text-decoration: line-through;
}
.tasksCalendar .task.dailyNote:before {
	content: "📄";
}
