/* Span Elements */
.tasksCalendar span {
	display: contents;
}
/* Button Head */
.tasksCalendar .buttons {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 70px 1fr 70px 35px;
	overflow: hidden;
	cursor: default;
	margin: 3px 0px;
	width: 100%;
	gap: 5px;
}
.tasksCalendar .switch {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	border-radius: 5px;
}
.tasksCalendar .switch button.active {
	background: rgba(125,125,125,0.75);
	color: white;
}
.tasksCalendar .switch button {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0;
}
.tasksCalendar button {
	padding: 2px 5px;
	background: none;
	box-shadow: none;
	border: none !important;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	height: 22px;
	background: rgba(125,125,125,0.25);
	color: var(--text-normal);
}
.tasksCalendar button svg {
	stroke: var(--text-normal);
}
.tasksCalendar.noDone .filter {
	background: #ff375f !important;
}
.tasksCalendar.noDone .filter svg {
	fill: white;
	stroke: none;
}
.tasksCalendar button:focus,
.tasksCalendar button:active {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
/* Main Calendar Grid */
.tasksCalendar .grid {
	overflow: hidden;
	cursor: default;
	width: 100%;
}
.tasksCalendar .cell {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	overflow: hidden;
	margin: 1px 0;
}
.tasksCalendar .cellContent {
	display: grid;
	overflow-x: hidden;
	overflow-y: auto;
	/*align-content: stretch;*/
	align-content: start;
	padding: 1px 0;
}
.tasksCalendar .cellContent::-webkit-scrollbar {
	display: none;
}
.tasksCalendar .gridHead {
	display: inline;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	font-size: 14px;
}
.tasksCalendar .cellName {
	display: block;
	font-weight: normal;
	padding: 0 2px;
	color: var(--text-normal);
	flex-shrink: 0;
	flex-grow: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	margin: 0;
	font-size: 14px;
}
.tasksCalendar .task {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding: 0 2px;
	text-decoration: none;
	/*word-break: break-all;*/
	word-break: break-word;
	line-height: 1.3;
	background: var(--task-background);
	color: var(--task-color);
	text-decoration: none !important;
	font-size: 14px;
	border-radius: 3px;
	overflow: hidden;
	margin: 2px;
}
.tasksCalendar .task.done {
	text-decoration: line-through !important;
	color: var(--task-color) !important;
	background: none !important;
}
.tasksCalendar a {
	text-decoration: none !important;
}


/* Today & Weekends */
.tasksCalendar .cell.today {
	border: 1px solid #0a84ff !important;
}
.tasksCalendar .cell.today .cellName {
	font-weight: bold;
	background: #0a84ff !important;
	color: white;
}
.tasksCalendar .cell.today .cellContent {
	background: #0a84ff1a !important;
}
.tasksCalendar .cell[data-weekday="0"] .cellName,
.tasksCalendar .gridHead[data-weekday="0"] {
	color: #ff443a;
}
.tasksCalendar .cell[data-weekday="6"] .cellName,
.tasksCalendar .gridHead[data-weekday="6"] {
	color: #0a84ff;
}


/* Month View */
.tasksCalendar .grid[data-view='month'] {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	gap: 3px;
}
.tasksCalendar .grid[data-view='month'] .gridHeads {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	border: 1px solid var(--nav-item-background-active);
	border-radius: 5px;
}
.tasksCalendar .grid[data-view='month'] .gridHead {
	height: 20px;
	line-height: 20px;
	font-size: 10px;
}
.tasksCalendar .grid[data-view='month'] .wrappers {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
	gap: 3px;
}
.tasksCalendar .grid[data-view='month'] .wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 22px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	border: 1px solid var(--nav-item-background-active);
	border-radius: 5px;
	overflow: hidden;
}
.tasksCalendar .grid[data-view='month'] .wrapper .wrapperButton {
	display: flex;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	background: none;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	color: var(--text-normal);
	cursor: pointer;
	width: 20px;
	overflow: hidden;
	background: var(--nav-item-background-active);
}
.tasksCalendar .grid[data-view='month'] .cell {
	height: 12.5vH;
	margin: 0;
}
.tasksCalendar .grid[data-view='month'] .prevMonth,
.tasksCalendar .grid[data-view='month'] .nextMonth {
	background: var(--background-secondary);
}
.tasksCalendar .grid[data-view='month'] .newMonth {
	/* border-left: 1px solid rgba(125,125,125,0.25); */
}


/* Week view */
.tasksCalendar .grid[data-view='week'] .cell {
	border: 1px solid var(--nav-item-background-active);
	border-radius: 5px;
	overflow: hidden;
}
.tasksCalendar .grid[data-view='week'] .cellName {
	/*background: var(--nav-item-background-active);*/
}


/* Vertical Agenda Style */
.tasksCalendar.style1 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(1)  { grid-area: 1 / 1 / 3 / 3; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(2)  { grid-area: 3 / 1 / 5 / 3; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(3)  { grid-area: 5 / 1 / 7 / 3; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(4)  { grid-area: 1 / 3 / 3 / 5; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(5)  { grid-area: 3 / 3 / 5 / 5; height: 25.6vH; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(6)  { grid-area: 5 / 3 / 6 / 5; }
.tasksCalendar.style1 .grid[data-view='week'] .cell:nth-child(7)  { grid-area: 6 / 3 / 7 / 5; }


/* Horizontal Agenda Style */
.tasksCalendar.style2 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(1)  { grid-area: 1 / 1 / 3 / 3; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(3)  { grid-area: 3 / 1 / 5 / 3; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(5)  { grid-area: 5 / 1 / 7 / 3; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(2)  { grid-area: 1 / 3 / 3 / 5; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(4)  { grid-area: 3 / 3 / 5 / 5; height: 25.6vH; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(6)  { grid-area: 5 / 3 / 6 / 5; }
.tasksCalendar.style2 .grid[data-view='week'] .cell:nth-child(7)  { grid-area: 6 / 3 / 7 / 5; }


/* List Style */
.tasksCalendar.style3 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;
}
.tasksCalendar.style3 .grid[data-view='week'] .cell {
	height: 11vH;
}


/* Widget Style */
.tasksCalendar.style4 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.tasksCalendar.style4 .grid[data-view='week'] .cell {
	height: 15vH;
}


/* 5x2 Style */
.tasksCalendar.style5 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(1) { grid-area: 1 / 1 / 3 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(2) { grid-area: 3 / 1 / 5 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(3) { grid-area: 5 / 1 / 7 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(4) { grid-area: 7 / 1 / 9 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(5) { grid-area: 9 / 1 / 11 / 2; height: 15.3vH; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(6) { grid-area: 1 / 2 / 6 / 3; }
.tasksCalendar.style5 .grid[data-view='week'] .cell:nth-child(7) { grid-area: 6 / 2 / 11 / 3; }


/* 5x2 (smaller weekends) Style */
.tasksCalendar.style6 .grid[data-view='week'] {
	display: grid;
	gap: 2px 4px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(1) { grid-area: 1 / 1 / 3 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(2) { grid-area: 3 / 1 / 5 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(3) { grid-area: 5 / 1 / 7 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(4) { grid-area: 7 / 1 / 9 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(5) { grid-area: 9 / 1 / 11 / 3; height: 15.3vH; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(6) { grid-area: 1 / 3 / 6 / 4; }
.tasksCalendar.style6 .grid[data-view='week'] .cell:nth-child(7) { grid-area: 6 / 3 / 11 / 4; }


/* noIcons class */
.tasksCalendar.noIcons .task {
	/*border-left: 2px solid currentColor;*/
}
.tasksCalendar.noIcons .task:before {
	display: none !important;
}
/* noTransparency */
.tasksCalendar.noTransparency .task {
	background: var(--task-color) ;
	color: black;
}
.tasksCalendar.noTransparency .task.done {
	color: var(--task-color) !important;
	background: none !important;
}
/* noDone class */
.tasksCalendar.noDone .task.done {
	display: none !important;
}
/* noScheduled class */
.tasksCalendar.noScheduled .task.scheduled {
	display: none !important;
}
/* noStart class */
.tasksCalendar.noStart .task.start {
	display: none !important;
}
/* noDue class */
.tasksCalendar.noDue .task.due {
	display: none !important;
}
/* noProcess class */
.tasksCalendar.noProcess .task.process {
	display: none !important;
}
/* noRecurrence class */
.tasksCalendar.noRecurrence .task.recurrence {
	display: none !important;
}
/* noOverdue class */
.tasksCalendar.noOverdue .task.overdue {
	display: none !important;
}
/* noDailyNote class */
.tasksCalendar.noDailyNote .task.dailyNote {
	display: none !important;
}
.tasksCalendar.noDailyNote .cellName {
	pointer-events: none !important;
}
/* mini class */
.tasksCalendar.mini .gridHead,
.tasksCalendar.mini .cellName,
.tasksCalendar.mini .task {
	font-size: 9px !important;
}
/* noWeekNr */
.tasksCalendar.noWeekNr .grid[data-view='month'] .wrapper .wrapperButton {
	visibility: hidden !important;
	width: 0 !important;
}
.tasksCalendar.noWeekNr .grid[data-view='month'] .gridHead:first-child {
	visibility: hidden !important;
	width: 0 !important;
}
.tasksCalendar.noWeekNr .grid[data-view='month'] .wrapper {
	grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}
.tasksCalendar.noWeekNr .grid[data-view='month'] .gridHeads {
	grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}


/* Mobile Month View */
body.is-mobile .tasksCalendar .grid[data-view='month'] .gridHead,
body.is-mobile .tasksCalendar .grid[data-view='month'] .cellName,
body.is-mobile .tasksCalendar .grid[data-view='month'] .task {
	font-size: 9px !important;
}
/* Mobile Week Views */
body.is-mobile .tasksCalendar.style4 .grid[data-view='week'] .gridHead,
body.is-mobile .tasksCalendar.style4 .grid[data-view='week'] .cellName,
body.is-mobile .tasksCalendar.style4 .grid[data-view='week'] .task {
	font-size: 9px !important;
}
/* Mobile Week Views */
body.is-mobile .tasksCalendar:not(.style4) .grid[data-view='week'] .gridHead,
body.is-mobile .tasksCalendar:not(.style4) .grid[data-view='week'] .cellName,
body.is-mobile .tasksCalendar:not(.style4) .grid[data-view='week'] .task {
	font-size: 12px !important;
}


/* Task Icons */
.tasksCalendar .task:before {
	margin-right: 3px;
}
.tasksCalendar .task.overdue:before {
	content: "⚠️";
}
.tasksCalendar .task.start:before {
	content: "🛫";
}
.tasksCalendar .task.due:before {
	content: "📅";
}
.tasksCalendar .task.process:before {
	content: "⏺️";
}
.tasksCalendar .task.scheduled:before {
	content: "⏳";
}
.tasksCalendar .task.done:before {
	content: "✅";
}
.tasksCalendar .task.recurrence:before {
	content: "🔁";
}
.tasksCalendar .task.cancelled:before {
	content: "🚫";
}
.tasksCalendar .task.cancelled {
	text-decoration: line-through;
}
.tasksCalendar .task.dailyNote:before {
	content: "📄";
	}
